body {
	margin: 0;
	font-family: 'Karla', sans-serif;
}

/* use vw to ensure text size changes with window size aka responsive */
#hi {
	font-size:6vw;
	font-weight: 700px;
}

#description {
	font-size:1.5vw;
	line-height: 1.5vw;
}

#content {
	color: #23AAA2;
	font-size:2vw;
	line-height: 1.5vw;
}

#rec {
	font-size:1.5vw;
	line-height: 1.5vw;
}

/*********** HEADER ************/

header {
	background-color: white; 
}

.header navheader {
	float: right;
  	display: inline-block;
}

.navheader a {
	float: right;
	line-height: 50px;
	font-family: 'Karla';
	font-weight: 400;
	font-size: 20px;
	margin-top: 10px;
	margin-right: 70px;
	color: black;
	text-decoration: none;
}

.header img {
  float: left;
  display: inline-block;
  background: #555;
  width: 100px;
  height: auto;
  margin-top: 5px;
  margin-left: 15px;
}

headrect {
	position: absolute;
	width: 1440px;
	height: 70px;
	left: 0px;
	top: 0px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	background: none;
}

/* unselected pages in nav bar */
#unselected {
	text-decoration: none;
	margin-left: 17px;
	margin-right: 17px;
	font-weight: 400;
	margin-top: 11px;
	color: #838282;
}

#logo {
	font-style: italic;
	font-size: 30px;
	margin-left: 60px;
	margin-right: 60px;
	font-weight: 700;
	color: #23AAA2;
	text-shadow: 0px 2px 3px rgba(0, 0, 0, 0.29);

}

/* indicates selected page / page user is currently on in nav bar*/
#selected {
	margin-left: 17px;
	margin-right: 17px;
	font-weight: 400;
	margin-top: 11px;
	text-decoration-line: underline;
  	color: #000000;

}

nav {
	background: #F3FAF9;
	box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.17);
}

#map {
	width: 86%;
	height: 400px; 
	background-color: grey;
	margin-bottom: 70px;
 }

/* main title in specific food and travel pages */
 #name {
 	font-weight: bold;
	font-size: 50px;
	line-height: 50px;
 }

/* container for contact form */
.container {
  margin-top: 30px;
  border-radius: 5px;
  background-color: #F5F4F4;
  padding: 30px;
}

/* input text fields */
input[type=text], textarea {
	width: 100%;
	margin-top: 1px;
	margin-bottom: 24px;
	padding: 12px; 
	border: 1px solid #E7E6E6; 
	border-radius: 4px;
	box-sizing: border-box; 
}

/* submit button styling */
input[type=submit] {
  background-color: #23AAA2;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 3px;
  cursor: pointer /* changes to pointer indicate that it is clickable */
}

/* submit button changes cover on hover */
input[type=submit]:hover {
  background-color: #0A6F68;
}

/* thank you message on thanks.html */
#thanks {
	text-align: center;
	margin-top: 5%;
	font-weight: 700px;
	font-size: 18px;
}
